.div {
    display: 'flex';
    flex-direction: 'column';
    justify-content: 'center';
    gap: '15px';
    margin-top: '15px';
}

.p {
    color: whitesmoke;
    display: 'flex';
    justify-content: 'center';
    align-items: 'center';
    gap: 15px;
}

@media (max-width: 600px) {
    .div {
        display: flex;
        flex-direction: column;
        justify-content: 'center';
        gap: '15px';
        margin-top: '15px';
    }
}