@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    text-align: center;
    gap: 5px;
    background-color: #18191B;
    font-family: 'Press Start 2P', cursive;
}